name: Automation Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Google Chrome
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable

      - name: Grant permission
        run: chmod +x gradlew

      - name: Run Web Test
        run: ./gradlew webTest

      - name: Run API Test
        run: ./gradlew apiTest

      - name: Upload Web Report
        uses: actions/upload-artifact@v4
        with:
          name: web-report
          path: reports/

      - name: Upload API Report
        uses: actions/upload-artifact@v4
        with:
          name: api-report
          path: reports/
