name: Web Automation Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  web-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant permission
        run: chmod +x gradlew

      - name: Run Web Test
        run: ./gradlew webTest
